<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <title>
    OneUptime Blog - Latest posts on Observability, Monitoring, Reliability and more.
  </title>
  <meta name="description" content="Learn more about Observability, Monitoring, Reliability and more.">
  <%- include('../head') -%>


</head>


<body>
  <%- include('../nav') -%>

    <div class="relative isolate overflow-hidden bg-white">
      <div class="py-24 sm:py-32">

        <%- include('./Partials/BlogTitleAndDescription', { title: 'Latest posts on '+tagName, description: 'Here are some of the latest posts on '+tagName }) -%>

        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          
          <div>

            <% if(blogPosts.length> 0){ %>
              <ul role="list" class="divide-y divide-gray-100 list-none">

                <% for(var i=0; i<blogPosts.length; i++) {%>



                  <%- include('./Partials/ListItem', { blogPost: blogPosts[i] }) -%>

                    <% } %>

              </ul>
              <% } %>

          </div>
          <%- include('./Partials/OpenSourceCommitment', {blogPost: null}) -%>


        </div>
      </div>

    </div>




    <%- include('./Partials/BlogCta') -%>
      <%- include('../footer') -%>
</body>

</html>