<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>
        <%= blogPost.title %>
    </title>
    <meta name="description" content="<%= blogPost.description %>">
    <%- include('../head-basic') -%>
        <link rel="canonical" href="https://oneuptime.com/blog/post/<%= blogPost.fileName %>" />
        <meta property="og:site_name" content="OneUptime | One Complete Observability platform.">
        <meta property="og:type" content="article">
        <meta property="og:title" content="<%= blogPost.title %>">
        <meta property="og:description" content="<%= blogPost.description %>">
        <meta property="og:url"
            content="<%= blogPost.blogUrl %>">
        <meta property="og:image"
            content="<%= blogPost.socialMediaImageUrl %>">
        <meta property="article:published_time" content="<%- blogPost.postDate -%>T00:00:00.000Z">
        <meta property="article:modified_time" content="<%- blogPost.postDate -%>T00:00:00.000Z">
        <meta property="article:publisher" content="https://www.facebook.com/OneUptime">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="<%= blogPost.title %>">
        <meta name="twitter:description" content="<%= blogPost.description %>">
        <meta name="twitter:url"
            content="<%= blogPost.blogUrl %>">
        <meta name="twitter:image"
            content="<%= blogPost.socialMediaImageUrl %>">
        <meta name="twitter:label1" content="Written by">
        <meta name="twitter:data1" content="<%= blogPost.author.name %>">
        <meta name="twitter:site" content="@OneUptimeHQ">
        <meta property="og:image:width" content="1280">
        <meta property="og:image:height" content="720">
        <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "OneUptime",
        "url": "https://oneuptime.com/",
        "logo": {
            "@type": "ImageObject",
            "url": "https://oneuptime.com/img/OneUptimePNG/1.png",
            "width": 60,
            "height": 60
        }
    },
    "author": {
        "@type": "Person",
        "name": "<%= blogPost.author.name %>",
        "url": "<%= blogPost.author.githubUrl %>",
        "sameAs": []
    },
    "headline": "<%= blogPost.title %>",
    "url": "<%= blogPost.blogUrl %>",
    "datePublished": "<%- blogPost.postDate -%>T00:00:00.000Z",
    "dateModified": "<%- blogPost.postDate -%>T00:00:00.000Z",
    "description": "<%- blogPost.description -%>",
    "mainEntityOfPage": "<%= blogPost.blogUrl %>"
}
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/yaml.min.js"></script>
<script>hljs.highlightAll();</script>

</head>


<body>
    <%- include('../nav') -%>

        <div class="relative isolate overflow-hidden bg-white">
            <div class="py-24 sm:py-32">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">

                    <%- include('./Partials/BlogTitleAndDescription', { title: blogPost.title , description:  blogPost.description }) -%>
            

                    <div class="blog-body">
                        <%- blogPost.htmlBody -%>
                    </div>

                   <%- include('./Partials/Tags', {
                    blogPost: blogPost
                   }) -%>

                            <div class="bg-white my-10 mt-20">
                                <div class="">
                                    <ul role="list" class="">
                                        <li>
                                            <a href="<%- blogPost.author.githubUrl -%>" target="_blank">
                                                <div class="flex items-center gap-x-6">
                                                    <img class="h-12 w-12 rounded-full"
                                                        src="<%- blogPost.author.profileImageUrl -%>" alt="">
                                                    <div class="-ml-4">
                                                        <h3
                                                            class="text-base font-medium leading-7 tracking-tight text-gray-600">
                                                            <span class="text-gray-500">By</span> <%-
                                                                blogPost.author.name -%> <span class="text-gray-500"> on
                                                                    <%- blogPost.formattedPostDate -%></span>
                                                        </h3>
                                                        <p class="text-sm font-medium leading-6 text-indigo-500 -mt-1">
                                                            @<%- blogPost.author.username -%></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="text-sm font-medium leading-6 text-gray-900 mt-24">Our Commitment to Open Source
                            </div>
                            <div class="mt-2 text-sm text-gray-900">
                                <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                                    <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                        <div class="flex w-0 flex-1 items-center">

                                            <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                                <span>Everything we do at OneUptime is 100% open-source, including this
                                                    blog post. You can make edits to this post and improve it <a
                                                        class="underline" target="_blank"
                                                        href="https://github.com/oneuptime/blog/tree/master/posts/<%- blogPost.fileName -%>">here</a>.
                                                    <br /> You can even contribute by writing a post just like this.
                                                    Please check contributing guidelines <a class="underline"
                                                        target="_blank"
                                                        href="https://github.com/oneuptime/blog">here</a></span>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                </div>
            </div>

        </div>




        <%- include('./Partials/BlogCta') -%>
            <%- include('../footer') -%>
</body>

</html>