{{> Start this}}



                  {{> CustomLogo this}}
                  {{> EmailTitle title="Scheduled Maintenance Event: {{eventTitle}}" }}
                  
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                       
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 16px; line-height: 24px;">
                          Here are more details on this scheduled event: 
                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                

                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="500" style="min-width: 500px;margin: 40px 50px;">
                    <tbody>
                      <tr style="border-collapse:collapse">
                        <td width="720" align="center" valign="top" style="padding:0;Margin:0"></td>
                      </tr>
                      <tr style="border-collapse:collapse">
                        <td align="left"
                          style="padding:0;Margin:0;padding-top:0px;padding-left:40px;padding-right:40px;padding-bottom:30px;background-color:#f7f8fa;border-radius: 5px">
                          <table cellpadding="0" cellspacing="0" width="100%"
                            style="border-collapse:collapse;border-spacing:0px">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td width="720" align="center" valign="top" style="padding:0;Margin:0">
                                  <table cellpadding="0" cellspacing="0" width="100%" role="presentation"
                                    style="border-collapse:collapse;border-spacing:0px">
                                    <tbody>
                                      <tr style="border-collapse:collapse">
                                        <td align="left" style="padding:0;Margin:0;padding-top:30px">
                                          <p
                                            style="Margin:0;font-size:16px;font-family:'inter','helvetica neue',helvetica,arial,sans-serif;line-height:30px;color:#424761">
                                            <span><strong>{{eventTitle}}</strong></span><br>
                                          

                                              <p
                                            style="Margin:0;font-size:16px;font-family:'inter','helvetica neue',helvetica,arial,sans-serif;line-height:30px;color:#424761">
                                             <span><strong>Resources Affected: </strong>{{resourcesAffected}} </span></p>

                                            <p
                                            style="Margin:0;font-size:16px;font-family:'inter','helvetica neue',helvetica,arial,sans-serif;line-height:30px;color:#424761">
                                             <span><strong>Note:</strong> </span> </p>

                                             <p style="Margin:0;font-size:16px;font-family:'inter','helvetica neue',helvetica,arial,sans-serif;line-height:30px;color:#424761">
                                              {{{note}}} 
                                             </p>
                                          
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>


                  <table class="st-Copy st-Width st-Width--mobile" border="0" cellpadding="0" cellspacing="0"
                    width="600" style="min-width: 600px;">
                    <tbody>
                      <tr>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                        <td class="st-Font st-Font--body"
                          style="border: 0; margin: 0; padding: 0; color: #000000 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif; font-size: 12px; line-height: 20px;">

                          This is an automated email sent to you because you are subscribed to {{statusPageName}}. You can visit the status page here: {{statusPageUrl}}

                        </td>
                        <td class="st-Spacer st-Spacer--gutter"
                          style="border: 0; margin:0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"
                          width="64">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="st-Spacer st-Spacer--stacked" colspan="3" height="12"
                          style="border: 0; margin: 0; padding: 0; font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;">
                          <div class="st-Spacer st-Spacer--filler"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                     {{> UnsubscribeBlock this}}
                
               {{> End this}}