<!DOCTYPE html>
<html lang="en" id="home">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <title>
        <%= title %>
    </title>

    <meta name="description" content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">

    <%- include('head') -%>

    <style>
      body {
        font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Ubuntu,sans-serif;
        background-color: #f7f7f7;
      }

      .container {
        width: 600px;
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 64px;
        margin: 0 auto;
        background-color: #ffffff;
      }

      .oneuptime-logo-container {
        padding-bottom: 20px;
        padding-top: 20px;
        height: 80px;
        display: flex;
        align-items: center;
      }

      .oneuptime-logo {
        background-color: #121212;
      }

      .main-header {
        line-height: 24px;
      }

      .check-mark {
        text-align: center;
        vertical-align: middle;
        margin-right: 10px;
      }

      .main-content {
        font-size: 16px;
        font-weight: normal;
      }

      .button {
        border: 1px solid #222b35;
        border-radius: 4px;
        background-color: #fff;
        display: inline-block;
        width: 150px;
        text-align: center;
      }

      .button a {
        color: #222b35;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
      }

      .footer {
        margin-top: 64px;
        color: #8898aa;
        font-size: 12px;
      }

      
    </style>
  </head>
  <body>
    <div class="container">
      <div class="oneuptime-logo-container">
        <img src="/img/vou-wb.png" width="50px" class="oneuptime-logo">
      </div>
      <div class="main-header">
        <h3><span class="check-mark"><img src=<%= apiUrl + '/img/' + action + '.svg' %> alt="check-mark" width="18px"></span><%= title_message %></h3>
      </div>
      <div class="main-content">
        <p class="message">
          <%= body_message %>
        </p>
        <p> You can view the status of this incident and provide notes on the Dashboard.</p>
        <br>
        <div class="buttons-bar">
          <div class="button">
            <a href="<%= dashboard_url %>">View Incident</a>
          </div>
        </div>

        <br>

        <p class="salutation">
          Thank you for using OneUptime.
        </p>
      </div>
      <div class="footer">
        <p class="copyright">
          © 2021 OneUptime Inc.
        </p>
      </div>      
    </div>
  </body>
</html>