<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body class="docs">
  <%- include('../partials/sidebar') -%>

  <div class="container-docs" role="main">
    <%- include('../partials/introduction') -%>

    <%- include('../partials/authentication') -%>

    <%- include('../partials/output') -%>

    <%- include('../partials/error') -%>

    <%- include('../partials/alert') -%>

    <%- include('../partials/applicationLog') -%>

    <%- include('../partials/component') -%>

    <%- include('../partials/emailSmtp') -%>

    <%- include('../partials/emailTemplate') -%>

    <%- include('../partials/incident') -%>

    <%- include('../partials/monitor') -%>

    <%- include('../partials/monitorCategory') -%>

    <%- include('../partials/monitorCriteria') -%>

    <%- include('../partials/project') -%>

    <%- include('../partials/report') -%>

    <%- include('../partials/schedule') -%>

    <%- include('../partials/scheduledEvent') -%>

    <%- include('../partials/smsSmtp') -%>

    <%- include('../partials/smsTemplate') -%>

    <%- include('../partials/statusPage') -%>

    <%- include('../partials/subscriber') -%>

    <%- include('../partials/subscriberAlert') -%>

    <%- include('../partials/team') -%>

    <%- include('../partials/tutorial') -%>

    <%- include('../partials/version') -%>

    <%- include('../partials/webhook') -%>

    <script type="text/javascript">
      var ddlArray = [];
      var ddl = document.getElementById('navSelect');
      if (ddl && ddl.options) {
        for (i = 0; i < ddl.options.length; i++) {
          ddlArray[i] = ddl.options[i].value;
        }
      }
      $(function () {
        var currentHash = "#introduction";
        $(document).scroll(function () {
          $('.dev-doc-item-container').each(function () {
            var top = window.pageYOffset;
            var distance = top - $(this).offset().top;
            var hash = $(this).attr('id');
            // 30 is an arbitrary padding choice,
            // if you want a precise check then use distance===0
            if (distance < 30 && distance > -30 && currentHash != hash) {
              //window.location.hash = (hash);
              history.replaceState(undefined, undefined, "#" + hash);
              currentHash = hash;
              var navSelect = $('#navSelect');
              ddlArray.forEach(function (value) {
                if (hash == value) {
                  navSelect.val(hash);
                }
              });
            }
          });
        });
      });
    </script>
  </div>

  <%- include('../partials/scripts') -%>
</body>

</html>