<main class="py-16">
   <article class="prose dark:prose-invert">
      <h1>
         <%= pageData.title -%>
      </h1>
      <p class="lead">
         <%= pageData.description -%>
      </p>


      <h2>Permissions</h2>
       <p class="lead"> Your API Token needs permissions to create, update, read or delete this resource. If you do not have permissions to make a request a <code class="inline-code">4xx</code> status will be sent as response. </p>
      
   
       <h3 id="consuming-webhooks" >
         Read Permissions
       </h3>
       <p>You need one of these permissions to read <%= pageData.title -%>:</p>
       <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10">
          <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
             <div class="my-6">
                <ul role="list" class="m-0 w-full">
                  <% for(var i=0; i<pageData.tablePermissions.read.length; i++) {%>
                   <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                      <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                         <dt class="sr-only">Name</dt>
                         <dd><code class="inline-code"> <%= pageData.tablePermissions.read[i].permission -%></code></dd>
                         <dt class="sr-only">Type</dt>
                         <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500"><%= pageData.tablePermissions.read[i].title -%></dd>
                         <dt class="sr-only">Description</dt>
                         <dd class="w-full text-sm flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                            <p><%= pageData.tablePermissions.read[i].description -%></p>
                         </dd>
                      </dl>
                   </li>
                   <% } %>

                   
                </ul>
             </div>
          </div>
      
       </div>


       <h3 id="consuming-webhooks" >
         Create Permissions
       </h3>
       <p>You need one of these permissions to create <%= pageData.title -%>:</p>
       <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10">
          <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
             <div class="my-6">
                <ul role="list" class="m-0 w-full">
                  <% for(var i=0; i<pageData.tablePermissions.create.length; i++) {%>
                   <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                      <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                         <dt class="sr-only">Name</dt>
                         <dd><code class="inline-code"> <%= pageData.tablePermissions.create[i].permission -%></code></dd>
                         <dt class="sr-only">Type</dt>
                         <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500"><%= pageData.tablePermissions.create[i].title -%></dd>
                         <dt class="sr-only">Description</dt>
                         <dd class="w-full text-sm flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                            <p><%= pageData.tablePermissions.create[i].description -%></p>
                         </dd>
                      </dl>
                   </li>
                   <% } %>

                   
                </ul>
             </div>
          </div>
      
       </div>




       <h3 id="consuming-webhooks" >
         Update Permissions
       </h3>
       <p>You need one of these permissions to update <%= pageData.title -%>:</p>
       <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10">
          <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
             <div class="my-6">
                <ul role="list" class="m-0 w-full">
                  <% for(var i=0; i<pageData.tablePermissions.update.length; i++) {%>
                   <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                      <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                         <dt class="sr-only">Name</dt>
                         <dd><code class="inline-code"> <%= pageData.tablePermissions.update[i].permission -%></code></dd>
                         <dt class="sr-only">Type</dt>
                         <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500"><%= pageData.tablePermissions.update[i].title -%></dd>
                         <dt class="sr-only">Description</dt>
                         <dd class="w-full flex-none text-sm [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                            <p><%= pageData.tablePermissions.update[i].description -%></p>
                         </dd>
                      </dl>
                   </li>
                   <% } %>

                   
                </ul>
             </div>
          </div>
      
       </div>



       <h3 id="consuming-webhooks" >
         Delete Permissions
       </h3>
       <p>You need one of these permissions to delete <%= pageData.title -%>:</p>
       <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10">
          <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
             <div class="my-6">
                <ul role="list" class="m-0 w-full">
                  <% for(var i=0; i<pageData.tablePermissions.delete.length; i++) {%>
                   <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                      <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                         <dt class="sr-only">Name</dt>
                         <dd><code class="inline-code"> <%= pageData.tablePermissions.delete[i].permission -%></code></dd>
                         <dt class="sr-only">Type</dt>
                         <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500"><%= pageData.tablePermissions.delete[i].title -%></dd>
                         <dt class="sr-only">Description</dt>
                         <dd class="w-full text-sm flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                            <p><%= pageData.tablePermissions.delete[i].description -%></p>
                         </dd>
                      </dl>
                   </li>
                   <% } %>

                   
                </ul>
             </div>
          </div>
      
       </div>


      <h2 id="the-contact-model" class="scroll-mt-24">
         The <%= pageData.title -%> model
      </h2>

      <h3>Properties</h3>
      <div class="my-6">
         <ul role="list"
            class="m-0 w-full list-none divide-y divide-zinc-900/5 p-0 dark:divide-white/5">
            <% for(var i=0; i<Object.keys(pageData.columns).length; i++) {%>
               <li class="m-0 px-0 py-4 first:pt-0 last:pb-0 mt-5">
                  <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                     <dt class="sr-only">Name</dt>
                     <dd><code class="inline-code"><%= Object.keys(pageData.columns)[i] -%></code></dd>
                     <dt class="sr-only">Type</dt>
                     <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">

                        <%= pageData.columns[Object.keys(pageData.columns)[i]].type -%>

                           <% if(pageData.columns[Object.keys(pageData.columns)[i]].required){ %>
                              (Required)
                              <% } %>


                     </dd>
                     <dt class="sr-only">Description</dt>
                     <dd class="w-full flex-none text-sm [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                        <p>
                          <%= pageData.columns[Object.keys(pageData.columns)[i]].description -%>
                        </p>
                     </dd>
                     <dd class="font-mono text-xs ">

                        <div class="mb-3 mt-3">
                           <span class="text-gray-700  text-xs">Permissions to Create:&nbsp;</span>

                           <% for(var j=0; j < pageData.columns[Object.keys(pageData.columns)[i]].permissions.create.length; j++) {%>
                              <span class="rounded-xl p-0.5 px-1 text-xs text-slate-500 bg-slate-100 border-2 border-slate-200"> <%= pageData.columns[Object.keys(pageData.columns)[i]].permissions.create[j] -%></span>
                              
                              <% if(j !== pageData.columns[Object.keys(pageData.columns)[i]].permissions.create.length-1){ %>
                              <span class="text-gray-400 text-xs ml-1 mr-1">or</span>
                              <% } %>
                              
                              <% } %>

                              <% if(pageData.columns[Object.keys(pageData.columns)[i]].permissions.create.length === 0){ %>
                                 <span class="p-0.5 px-1 text-xs text-rose-400"> This property is autogenerated. </span>
                                 <% } %>
   

                        </div>

                        <div class="mb-3 mt-3">
                           <span class="text-gray-700  text-xs">Permissions to Read:&nbsp;</span>

                           <% for(var j=0; j < pageData.columns[Object.keys(pageData.columns)[i]].permissions.read.length; j++) {%>
                              <span class="rounded-xl p-0.5 px-1 text-xs text-slate-500 bg-slate-100 border-2 border-slate-200"> <%= pageData.columns[Object.keys(pageData.columns)[i]].permissions.read[j] -%></span>
                              
                              <% if(j !== pageData.columns[Object.keys(pageData.columns)[i]].permissions.read.length-1){ %>
                                 <span class="text-gray-400 text-xs ml-1 mr-1">or</span>
                                 <% } %>
                             
                              <% } %>

                              <% if(pageData.columns[Object.keys(pageData.columns)[i]].permissions.read.length === 0){ %>
                                 <span class="p-0.5 px-1 text-xs text-rose-400"> This property cannot be read. </span>
                                 <% } %>
   

                        </div>

                        <div class="mb-3 mt-3">
                           <span class="text-gray-700 text-xs">Permissions to Update:&nbsp;</span>

                           <% for(var j=0; j < pageData.columns[Object.keys(pageData.columns)[i]].permissions.update.length; j++) {%>
                              <span class="rounded-xl p-0.5 px-1 text-xs text-slate-500 bg-slate-100 border-2 border-slate-200"> <%= pageData.columns[Object.keys(pageData.columns)[i]].permissions.update[j] -%></span>
                             
                              <% if(j !== pageData.columns[Object.keys(pageData.columns)[i]].permissions.update.length-1){ %>
                                 <span class="text-gray-400 text-xs ml-1 mr-1">or</span>
                                 <% } %>
                             
                              <% } %>


                           <% if(pageData.columns[Object.keys(pageData.columns)[i]].permissions.update.length === 0){ %>
                              <span class="p-0.5 px-1 text-xs text-rose-400"> This property cannot be updated. </span>
                              <% } %>

                        </div>


                  

                     </dd>
                  </dl>
               </li>
               <% } %>
         </ul>
      </div>


<div class="mt-10">
      <hr>
      <div class="flex items-center gap-x-3 mt-10"><span
            class="font-mono text-[0.625rem] font-semibold leading-6 rounded-lg px-1.5 ring-1 ring-inset ring-emerald-300 dark:ring-emerald-400/30 bg-emerald-400/10 text-emerald-500 dark:text-emerald-400">GET</span> <span
            class="font-mono text-xs text-zinc-400">or</span> <span
            class="font-mono text-[0.625rem] font-semibold leading-6 rounded-lg px-1.5 ring-1 ring-inset ring-sky-300 dark:ring-sky-400/30 bg-sky-400/10 text-sky-500 dark:text-sky-400">POST</span><span
            class="h-0.5 w-0.5 rounded-full bg-zinc-300 dark:bg-zinc-600"></span><span
           class="font-mono text-xs text-zinc-400"><%= pageData.apiPath -%>/get-list</span></div>
           <div class="-mt-20">
      <h2 id="list-all-contacts" class="mt-2 scroll-mt-32"><span class="group text-inherit no-underline hover:text-inherit">List</span></h2>

            <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10 xl:max-w-none xl:grid-cols-2">
               <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                  <p>This endpoint allows you to retrieve a paginated list of all your <%= pageData.title -%>. By default, a maximum of ten
                     <%= pageData.title -%> are shown per page.</p>
                     <h3>Optional Query Params</h3>
                  <div class="my-6">
                     <ul role="list"
                        class="m-0 max-w-[calc(theme(maxWidth.lg)-theme(spacing.8))] list-none divide-y divide-zinc-900/5 p-0 dark:divide-white/5">
                        <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                           
                           <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                              <dt class="sr-only">Limit</dt>
                              <dd><code class="inline-code">limit</code></dd>
                              <dt class="sr-only">Type</dt>
                              <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">number</dd>
                              <dt class="sr-only">Description</dt>
                              <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                                 <p>Number of objects to fetch. By default 10, you can increase this count up to 100</p>
                              </dd>
                           </dl>
                        </li>
                        <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                           <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                              <dt class="sr-only">Skip</dt>
                              <dd><code class="inline-code">skip</code></dd>
                              <dt class="sr-only">Type</dt>
                              <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">number</dd>
                              <dt class="sr-only">Description</dt>
                              <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                                 <p>Number of objects to skip. This can be useful in pagination</p>
                              </dd>
                           </dl>
                        </li>
                     </ul>
                  </div>
                  <h3>Optional Request Body</h3>
                  <div class="my-6">
                     <ul role="list"
                        class="m-0 max-w-[calc(theme(maxWidth.lg)-theme(spacing.8))] list-none divide-y divide-zinc-900/5 p-0 dark:divide-white/5">
                        <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                           <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                              <dt class="sr-only">Query</dt>
                              <dd><code class="inline-code">query</code></dd>
                              <dt class="sr-only">Type</dt>
                              <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">query</dd>
                              <dt class="sr-only">Description</dt>
                              <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                                 <p>If you would like to filter on <%= pageData.title -%>. You can specify include a query here. For more information, <a class="link" target="_blank" href="/reference/data-types#queries">please check out writing queries here.</a></p>
                              </dd>
                           </dl>
                          
                        </li>
                        <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                        <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                           <dt class="sr-only">Select</dt>
                           <dd><code class="inline-code">select</code></dd>
                           <dt class="sr-only">Type</dt>
                           <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">select</dd>
                           <dt class="sr-only">Description</dt>
                           <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                              <p> By default you will only retrieve ID of objects, to retrieve more fields you need to select them. For more information, <a class="link" target="_blank" href="/reference/data-types#select">please check how to select here.</a></p>
                           </dd>
                        </dl>
                        </li>
                        <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                        <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                           <dt class="sr-only">Sort</dt>
                           <dd><code class="inline-code">sort</code></dd>
                           <dt class="sr-only">Type</dt>
                           <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">sort</dd>
                           <dt class="sr-only">Description</dt>
                           <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                              <p> Objects will be sorted based on created date by default. You can change the sort order by passing  <a class="link" target="_blank" href="/reference/data-types#select">please check how to select here.</a></p>
                           </dd>
                        </dl>
                        </li>
                     </ul>
                  </div>
               </div>

               <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0 xl:sticky xl:top-24">
                  <%- include('../partials/code', {title: "Example List Request", requestUrl: pageData.apiPath+"/get-list?skip=0&limit=10", code:  pageData.listRequest, requestType: "POST" }) -%>
                  <%- include('../partials/code', {title: "Example List Response", code: pageData.listResponse, requestType: "" }) -%>
               </div>
            </div>
         </div>
      </div>

         <div class="mt-10">
         <hr>
         <div class="flex items-center gap-x-3 mt-10"><span
               class="font-mono text-[0.625rem] font-semibold leading-6 rounded-lg px-1.5 ring-1 ring-inset ring-emerald-300 dark:ring-emerald-400/30 bg-emerald-400/10 text-emerald-500 dark:text-emerald-400">GET</span> <span
               class="font-mono text-xs text-zinc-400">or</span> <span
               class="font-mono text-[0.625rem] font-semibold leading-6 rounded-lg px-1.5 ring-1 ring-inset ring-sky-300 dark:ring-sky-400/30 bg-sky-400/10 text-sky-500 dark:text-sky-400">POST</span><span
               class="h-0.5 w-0.5 rounded-full bg-zinc-300 dark:bg-zinc-600"></span><span
              class="font-mono text-xs text-zinc-400"><%= pageData.apiPath -%>/:id/get-item</span></div>
              <div class="-mt-20">
         <h2 id="list-all-contacts" class="mt-2 scroll-mt-32"><span class="group text-inherit no-underline hover:text-inherit"
               >Get item by ID</span></h2>
   
               <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10 xl:max-w-none xl:grid-cols-2">
                  <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                     <p>This endpoint allows you to retrieve <%= pageData.title -%> by ID.
                        <h3>Required Query Params</h3>
                     <div class="my-6">
                        <ul role="list"
                           class="m-0 max-w-[calc(theme(maxWidth.lg)-theme(spacing.8))] list-none divide-y divide-zinc-900/5 p-0 dark:divide-white/5">
                           <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                              
                              <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                                 <dt class="sr-only">ID</dt>
                                 <dd><code class="inline-code">id</code></dd>
                                 <dt class="sr-only">Type</dt>
                                 <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">text</dd>
                                 <dt class="sr-only">Description</dt>
                                 <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                                    <p>ID of the Object</p>
                                 </dd>
                              </dl>
                           </li>
                        </ul>
                     </div>
                     <h3>Optional Request Body</h3>
                     <div class="my-6">
                        <ul role="list"
                           class="m-0 max-w-[calc(theme(maxWidth.lg)-theme(spacing.8))] list-none divide-y divide-zinc-900/5 p-0 dark:divide-white/5">
                           
                           <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                           <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                              <dt class="sr-only">Select</dt>
                              <dd><code class="inline-code">select</code></dd>
                              <dt class="sr-only">Type</dt>
                              <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">select</dd>
                              <dt class="sr-only">Description</dt>
                              <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                                 <p> By default you will only retrieve ID of objects, to retrieve more fields you need to select them. For more information, <a class="link" target="_blank" href="/reference/data-types#select">please check how to select here.</a></p>
                              </dd>
                           </dl>
                           </li>
                           
                        </ul>
                     </div>
                  </div>
   
                  <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0 xl:sticky xl:top-24">
                     <%- include('../partials/code', {title: "Example Item Request", requestUrl: pageData.apiPath+"/3599ee69-43a7-42d7/get-item", code:  pageData.itemRequest, requestType: "POST" }) -%>
                     <%- include('../partials/code', {title: "Example Item Response", code: pageData.itemResponse, requestType: "" }) -%>
                  </div>
               </div>
            </div>
         </div>




            <div class="mt-10">
            <hr>
            <div class="flex items-center gap-x-3 mt-10"><span
                  class="font-mono text-[0.625rem] font-semibold leading-6 rounded-lg px-1.5 ring-1 ring-inset ring-sky-300 dark:ring-sky-400/30 bg-sky-400/10 text-sky-500 dark:text-sky-400">POST</span><span
                  class="h-0.5 w-0.5 rounded-full bg-zinc-300 dark:bg-zinc-600"></span><span
                 class="font-mono text-xs text-zinc-400"><%= pageData.apiPath -%>/count</span></div>
                 <div class="-mt-20">
            <h2 id="list-all-contacts" class="mt-2 scroll-mt-32"><span class="group text-inherit no-underline hover:text-inherit"
                  >Count</span></h2>
      
                  <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10 xl:max-w-none xl:grid-cols-2">
                     <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                        <p>This endpoint allows you to retrieve the count of all your <%= pageData.title -%>. </p>

                         
                        <h3>Optional Request Body</h3>
                        <div class="my-6">
                           <ul role="list"
                              class="m-0 max-w-[calc(theme(maxWidth.lg)-theme(spacing.8))] list-none divide-y divide-zinc-900/5 p-0 dark:divide-white/5">
                              <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                                 <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                                    <dt class="sr-only">Query</dt>
                                    <dd><code class="inline-code">query</code></dd>
                                    <dt class="sr-only">Type</dt>
                                    <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">query</dd>
                                    <dt class="sr-only">Description</dt>
                                    <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                                       <p>If you would like to filter on <%= pageData.title -%>. You can specify include a query here. For more information, <a class="link" target="_blank" href="/reference/data-types#queries">please check out writing queries here.</a></p>
                                    </dd>
                                 </dl>
                                
                              </li>
                              
                           </ul>
                        </div>
                     </div>
      
                     <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0 xl:sticky xl:top-24">
                        <%- include('../partials/code', {title: "Example Count Request", requestUrl: pageData.apiPath+"/count", code:  pageData.countRequest, requestType: "POST" }) -%>
                        <%- include('../partials/code', {title: "Example Count Response", code: pageData.countResponse, requestType: "" }) -%>
                     </div>
                  </div>
               </div>
            </div>


            <div class="mt-10">
               <hr>
               <div class="flex items-center gap-x-3 mt-10"><span
                     class="font-mono text-[0.625rem] font-semibold leading-6 rounded-lg px-1.5 ring-1 ring-inset ring-sky-300 dark:ring-sky-400/30 bg-sky-400/10 text-sky-500 dark:text-sky-400">POST</span><span
                     class="h-0.5 w-0.5 rounded-full bg-zinc-300 dark:bg-zinc-600"></span><span
                    class="font-mono text-xs text-zinc-400"><%= pageData.apiPath -%></span></div>
                    <div class="-mt-20">
               <h2 id="list-all-contacts" class="mt-2 scroll-mt-32"><span class="group text-inherit no-underline hover:text-inherit"
                     >Create <%= pageData.title -%> </span></h2>
         
                     <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10 xl:max-w-none xl:grid-cols-2">
                        <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                           <p>This endpoint allows you to create a new object. </p>
   
                            
                           <h3>Request Body</h3>
                           <div class="my-6">
                              <ul role="list"
                                 class="m-0 max-w-[calc(theme(maxWidth.lg)-theme(spacing.8))] list-none divide-y divide-zinc-900/5 p-0 dark:divide-white/5">
                                 <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                                    <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                                       <dt class="sr-only">Data</dt>
                                       <dd><code class="inline-code">data</code></dd>
                                       <dt class="sr-only">Type</dt>
                                       <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">JSON</dd>
                                       <dt class="sr-only">Description</dt>
                                       <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                                          <p>Object to update as JSON</p>
                                       </dd>
                                    </dl>
      
                                 </li>
                                 
                              </ul>
                           </div>
                        </div>
         
                        <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0 xl:sticky xl:top-24">
                           <%- include('../partials/code', {title: "Example Create Request", requestUrl: pageData.apiPath, code:  pageData.createRequest, requestType: "POST" }) -%>
                           <%- include('../partials/code', {title: "Example Create Response", code: pageData.createResponse, requestType: "" }) -%>
                        </div>
                     </div>
                  </div>
               </div>



            <div class="mt-10">
               <hr>
               <div class="flex items-center gap-x-3 mt-10"><span
                     class="font-mono text-[0.625rem] font-semibold leading-6 rounded-lg px-1.5 ring-1 ring-inset ring-amber-300 dark:ring-amber-400/30 bg-amber-400/10 text-amber-500 dark:text-amber-400">PUT</span><span
                     class="h-0.5 w-0.5 rounded-full bg-zinc-300 dark:bg-zinc-600"></span><span
                    class="font-mono text-xs text-zinc-400"><%= pageData.apiPath -%>/:id</span></div>
                    <div class="-mt-20">
               <h2 id="list-all-contacts" class="mt-2 scroll-mt-32"><span class="group text-inherit no-underline hover:text-inherit"
                     >Update by ID</span></h2>
         
                     <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10 xl:max-w-none xl:grid-cols-2">
                        <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                           <p>This endpoint allows you to update object by its ID. </p>
   
                            
                           <h3>Request Body</h3>
                           <div class="my-6">
                              <ul role="list"
                                 class="m-0 max-w-[calc(theme(maxWidth.lg)-theme(spacing.8))] list-none divide-y divide-zinc-900/5 p-0 dark:divide-white/5">
                                 <li class="m-0 px-0 py-4 first:pt-0 last:pb-0">
                                    <dl class="m-0 flex flex-wrap items-center gap-x-3 gap-y-2">
                                       <dt class="sr-only">Data</dt>
                                       <dd><code class="inline-code">data</code></dd>
                                       <dt class="sr-only">Type</dt>
                                       <dd class="font-mono text-xs text-zinc-400 dark:text-zinc-500">JSON</dd>
                                       <dt class="sr-only">Description</dt>
                                       <dd class="w-full flex-none [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                                          <p>Object to update as JSON</p>
                                       </dd>
                                    </dl>
      
                                 </li>
                                 
                              </ul>
                           </div>
                        </div>
         
                        <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0 xl:sticky xl:top-24">
                           <%- include('../partials/code', {title: "Example Update Request", requestUrl: pageData.apiPath+"/3599ee69-43a7-42d7", code:  pageData.updateRequest, requestType: "PUT" }) -%>
                           <%- include('../partials/code', {title: "Example Update Response", code: pageData.updateResponse, requestType: "" }) -%>
                        </div>
                     </div>
                  </div>
               </div>


               <div class="mt-10">
                  <hr>
                  <div class="flex items-center gap-x-3 mt-10"><span
                        class="font-mono text-[0.625rem] font-semibold leading-6 rounded-lg px-1.5 ring-1 ring-inset ring-red-300 dark:ring-red-400/30 bg-red-400/10 text-red-500 dark:text-red-400">DELETE</span><span
                        class="h-0.5 w-0.5 rounded-full bg-zinc-300 dark:bg-zinc-600"></span><span
                       class="font-mono text-xs text-zinc-400"><%= pageData.apiPath -%>/:id</span></div>
                       <div class="-mt-20">
                  <h2 id="list-all-contacts" class="mt-2 scroll-mt-32"><span class="group text-inherit no-underline hover:text-inherit"
                        >Delete by ID</span></h2>
            
                        <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10 xl:max-w-none xl:grid-cols-2">
                           <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                              <p>This endpoint allows you to delete object by its ID. </p>
      
                     
                           </div>
            
                           <div class="[&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0 xl:sticky xl:top-24">
                              <%- include('../partials/code', {title: "Example Delete Request", requestUrl: pageData.apiPath+"/3599ee69-43a7-42d7", code:  pageData.deleteRequest, requestType: "DELETE" }) -%>
                              <%- include('../partials/code', {title: "Example Delete Response", code: pageData.deleteResponse, requestType: "" }) -%>
                           </div>
                        </div>
                     </div>
                  </div>
     
   </article>
</main>