<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>
        <%= blogPost.title %>
    </title>
    <meta name="description" content="<%= blogPost.description %>">
    <%- include('head') -%>

    <style>

    </style>

</head>


<body>
    <%- include('nav') -%>

        <div class="relative isolate overflow-hidden bg-white">
            <div class="py-24 sm:py-32">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <div class="mx-auto max-w-2xl text-center mb-36">

                        <h1 class="text-4xl font-bold tracking-tight text-gray-900">
                            <%= blogPost.title %>
                        </h1>
                        <p class="mt-6 text-xl sm:text-2xl leading-8 text-gray-600">
                            <%= blogPost.description %>
                        </p>

                    </div>

                    <div class="blog-body">
                        <%- blogPost.htmlBody -%>
                    </div>

                </div>
            </div>

        </div>


        <%- include('cta') -%>
            <%- include('footer') -%>
</body>

</html>