<!DOCTYPE html>
<html lang="en" id="contact">

<head>
    <title>OneUptime | Monitor your API's every second.</title>
    
    <meta name="description"
        content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
    <%- include('head') -%>
    <link rel="stylesheet" href="/css/shared-site.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/products.css">
    <script src="/js/amplitude.js"></script>
    <script type="module" async>
        var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
        if (IS_SAAS_SERVICE) {
            amplitude.getInstance().logEvent('PAGE VIEW: HOME > PRODUCT > API MONITORING');
        }
    </script>
    <script>
        function onClickFunc(index) {
            let playButton = document.getElementById(`playButton-${index}`);
            let gif = document.getElementById(`gif-${index}`);
            let videoDiv= document.getElementById(`videoDiv-${index}`);
            let video= document.getElementById(`video-${index}`);
            let grid = document.getElementById(`grid-${index}`);
            playButton.style.display = "none";
            gif.style.display="none";
            videoDiv.style.display="block";
            // grid.style.width="1000px";
            video.src += "?autoplay=1";
        }
        function mouseOverFunc(index)
        {
            let playButton = document.getElementById(`playButton-${index}`);
            playButton.src="/img/play-button-black.svg";
            playButton.style.cursor="pointer";
        }
        function mouseOutFunc(index)
        {
            let playButton = document.getElementById(`playButton-${index}`);
            playButton.src="/img/play-button-grey.svg";
        }
    </script>
</head>

<body>

    <%- include('nav') -%>

    <div class="globalContent">
        <div id="main-content">

            <section class="marquee nav-animation-element">

                <div id="bubble-overlay">
                    <div class="content">
                        
                        <header>
                            <h1 style="line-height: unset; font-size: 43px !important;" class="Header-title common-PageTitle header-font header-size black">Monitor your API. Get alerted instantly when things don't look right.</h1>
                            <div style="margin-top: -100px">
                                <%- include("stars", {
                                    description1: '"...monitors and parses *ANY* API response"',
                                    name1: "- AlternativeTo",
                                    link1: "https://alternativeto.net/software/oneuptime/about",
                                    description2: '"...does so much more than just monitoring."',
                                    name2: "- Capterra",
                                    link2: "https://www.capterra.com/p/176513/OneUptime/",
                                    description3: '"...alerts the second our API goes down."',
                                    name3: "- G2 Crowd",
                                    link3: "https://www.g2.com/products/oneuptime/reviews"
                                }) %>
                            </div>
                            <p style="margin-top:50px; font-size: 20px"><span class="highlight">Analyze uptime &amp; performance of your API's.</span> Improve poorly performing one's to improve your app. Get alerted by SMS, Email or Call when things go wrong.</p>
                        </header>
                    </div>   
                    <div style="
                    margin: 0 auto;
                    ;">
                        <div class="checkbox-items" style="max-width: 1000px; margin: auto;">
                            <div class="checkbox-feature top-margin-10">
                                <div><img height="22" src="/img/check-mark-button.svg" /> </div> <div
                                        class="checkbox-text">Unlimited API Monitoring</div> 
                            </div>
                            <div class="checkbox-feature top-margin-10">
                                <div><img height="22" src="/img/check-mark-button.svg" /></div> <div
                                        class="checkbox-text">Get Email, SMS &amp; Call alerts</div> 
                            </div>
                            
                            <div class="checkbox-feature top-margin-10">
                                <div><img height="22" src="/img/check-mark-button.svg" /></div> <div
                                        class="checkbox-text">Monitor on any criteria </div> 
                            </div>
                            
                        </div>
                        <div class="checkbox-items" style="max-width: 1000px; margin: auto;">
                            <div class="checkbox-feature top-margin-10">
                                <div><img height="22" src="/img/check-mark-button.svg" /> </div> <div
                                        class="checkbox-text">Get, Post, Patch, or Delete</div> 
                            </div>
                            <div class="checkbox-feature top-margin-10">
                                <div><img height="22" src="/img/check-mark-button.svg" /></div> <div
                                        class="checkbox-text">Send any request body</div> 
                            </div>
                            
                            <div class="checkbox-feature top-margin-10">
                                <div><img height="22" src="/img/check-mark-button.svg" /></div> <div
                                        class="checkbox-text">Parse any response body </div> 
                            </div>
                            
                        </div>
                       
                    </div>                 
                </div>

            </section>

            <div class="vid_section">
                <div class="grid-1"></div>
                <div class="grid-2 text-center" id="grid-1">
                    <img src="/img/animated-gif/uptime-monitoring.gif" style="z-index: 2" class="imageshadow _gif" alt="Uptime Monitoring" id="gif-1" style="border-radius: 5px;" />
                    
                    <img class="play" style="z-index: 3" id="playButton-1" onmouseout="mouseOutFunc(1)"onmouseover="mouseOverFunc(1)"onclick="onClickFunc(1)" src="/img/play-button-grey.svg"/>
                        <div id="videoDiv-1" class="videoClass">
                        <iframe id="video-1" class="actualVideo" height="500" src="https://www.youtube.com/embed/zZFDyiEJvs0?modestbranding=1&rel=0&enablejsapi=1&controls=1&frameborder=0&allowfullscreen=1" rel="0" enablejsapi="1" modestbranding="1" controls="1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
                    </div>
                    
                </div>
                <div class="grid-3">
                    <img src="/img/3mindemobg.png" />
                </div>
            </div>

            <%- include('cta-buttons') -%>


            <section class="main basics" style="padding:0px">
                <div class="content">
                    <ul class="columns">
                        <li class="block-image reliability">
                            <h3>Monitor Anything.</h3>
                            <p class="text-center">Monitor uptime and performance of your dashboards, API's, servers, applications, and more.</p>
                        </li>
                        <li class="block-image moni">
                            <h3>Detailed Metrics</h3>
                            <p class="text-center">All teams get the same visibility for technical and business response orchestration, enabling better collaboration and rapid resolution. </p>
                        </li>
                        <li class="block-image time">
                            <h3>Every second check.</h3>
                            <p class="text-center">OneUptime checks the status of the endpoint every second to make sure you get alerted as soon as any of your resources go down.</p>
                        </li>
                        
                    </ul>

                    <ul class="columns">
                        <li class="block-image global">
                            <h3>Test from Multiple Locations</h3>
                            <p class="text-center">Test if your site is available everywhere in the world. We have probes in every continent to test your resources.</p>
                        </li>
                        <li class="block-image rootcause">
                            <h3>Root Cause Analysis.</h3>
                            <p class="text-center">Get to the root of any API, website, server or application outage to resolve the issue and prevent any recurrence.</p>
                        </li>
                        <li class="block-image risk">
                            <h3>Monitor Performance</h3>
                            <p class="text-center">Monitor performance of your API's, servers and more. We even let you monitor page speed of your apps and let you know when something goes wrong. </p>
                        </li>
                        
                    </ul>

                </div>

                <%- include('cta-buttons') -%>

                <%- include('customer-section') -%>
                
                <%- include('feature-table', {
                    title:"We don't just do API Monitoring, <br/><span class='highlight'> We do <i>everything</i> in terms of SRE and DevOps. </span>",
                    description: "Start with API monitoring and then expand into whole lot more without increasing your bottom line. <br/> One interface. One conversation. One permission model. Thousands of features. "
                }) %>

                <div class="sectionBorderTop">
                    <%- include('comparision-chart') -%>
                </div>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Complete API scans every second.</h2>
                    <p class="common-BodyText"> Find issues with performance, error rates, response time and more. <br/>We also give you recommendations on what API's are misbehvaing the most, best practices and more.</p>
                </header>

                <div class="gif-container">
                    <img src="/img/animated-gif/uptime-monitoring-website-scan.gif" class="imageshadow" alt="Uptime Monitoring" id="gif" style="border-radius: 5px;width: 100%" />
                </div>
    

                <div class="content">
                    <ul class="columns">
                        <li class="block-image errorrate">
                            <h3>Measure error rates</h3>
                            <p class="text-center">Measure % of time your API error's out. Discover failing API's and be the first to fix them and improve reliability.</p>
                        </li>
                        <li class="block-image risk">
                            <h3>Find performance issues</h3>
                            <p class="text-center">Every second increase in performance of your API's increases leads & customers by 50% on your apps. Find and fix performance issues of your API's.</p>
                        </li>
                        <li class="block-image reli">
                            <h3>Best Practices and Progressive Web Apps</h3>
                            <p class="text-center"> Make your website run like an app on mobile with Progressive Web Apps. Follow other best practices right form the best of industry. </p>
                        </li>
                    </ul>
                </div>

                <%- include('cta-buttons') -%>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Set any criteria for API monitoring.</h2>
                    <p class="common-BodyText"> Set uptime, degraded, and downtime, criteria on response time, SSL, response body, status code and more. </p>
                </header>

                <div class="gif-container">
                    <img src="/img/animated-gif/uptime-monitor-criteria.gif" class="imageshadow" alt="Uptime Monitoring" id="gif" style="border-radius: 5px;width: 100%" />
                </div>

               
    

                <div class="content">
                    <ul class="columns">
                        <li class="block-image reli">
                            <h3>Set any criteria.</h3>
                            <p class="text-center">Set any criteria you need for uptime, degraded, and downtime. Criteria on response time, SSL, response body, status code and more are available for use. </p>
                        </li>
                        <li class="block-image rootcause">
                            <h3>Find issues instantly.</h3>
                            <p class="text-center">Get to the root of any API, website server or application outage to resolve the issue and prevent any recurrence.</p>
                        </li>
                        <li class="block-image time">
                            <h3>Every second check.</h3>
                            <p class="text-center"> OneUptime checks the status of the endpoint every second to make sure you get alerted as soon as any of your resources go down. </p>
                        </li>
                    </ul>
                </div>

                <%- include('cta-buttons') -%>

                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">Start with API monitoring. Expand into monitoring everything.</h2>
                    <p class="common-BodyText"> Monitor anything from servers, API's, websites, containers, to IoT devices, custom scripts, and more! <br/> You name it, we monitor it. All of this in one single platform. </p>
                </header>

                <div class="gif-container">
                    <img src="/img/animated-gif/uptime-monitoring-any-monitor.gif" class="imageshadow" alt="Uptime Monitoring" id="gif" style="border-radius: 5px;width: 100%" />
                </div>

                <div class="content">
                    <ul class="columns">
                        <li class="block-image reliability">
                            <h3>You got a resource. We can monitor it.</h3>
                            <p class="text-center">Monitor anything from servers, API's, websites, containers, to IoT devices, custom scripts, and more!  </p>
                        </li>
                        <li class="block-image rootcause">
                            <h3>Find issues instantly.</h3>
                            <p class="text-center">Get to the root of any API, website, server or application outage to resolve the issue and prevent any recurrence.</p>
                        </li>
                        <li class="block-image moni">
                            <h3>Detailed Metrics</h3>
                            <p class="text-center">All teams get the same visibility for technical and business response orchestration, enabling better collaboration and rapid resolution. </p>
                        </li>
                    </ul>
                </div>

                <%- include('cta-buttons') -%>

                <!-- <%- include("testimonials", {
                    title: "Software teams around the world love OneUptime!",
                    description: "Software development teams around the world have switched to OneUptime to fundamentally improve their SRE workflow to build better and more reliable software.",
                    quotes: [
                        {
                            quote: "Having API reliability alerts lets our team be more accountable and responsible to software they are building. They now own the code.",
                            by: "Sanjay Malik, Mindspoke"
                        },
                        {
                            quote: "OneUptime lets us shave critical minutes during downtime by alerting the right team member and escalating effectively",
                            by: "Sarah Yusuf, Genesys"
                        },
                        {
                            quote: "No more writing and maintaining internal tools to monitor our software. OneUptime let's us focus on our business.",
                            by: "Jennifer Jones, Improbable"
                        },
                        {
                            quote: "Incident management is now a breeze. Everyone in the company knows what is wrong and what needs to be fixed.",
                            by: "Shubham Aggarwal, CloudBoost"
                        },
                        {
                            quote: "We can see exactly what the state of the software and our service is. Less confusion and we're much more efficient.",
                            by: "Trevos Crosse, PNI Digital"
                        }
                    ]
                }) %> -->
              
                <header style="padding-top:50px; border-top: 1px solid rgba(0,0,0,.07); border-bottom:unset">
                    <h2 class="header">How monitoring helps your business?</h2>
                    <p class="common-BodyText"> See how OneUptime's complete monitoring platform can help you reach your business goals. </p>
                </header>
                <div class="content">
                    <ul class="columns">
                        <li class="block-image teams">
                            <h3>Never lose a customer.</h3>
                            <p class="text-center">Truth is downtimes happen. OneUptime keeps both your team and customers looped in about the downtime which increases customer trust. </p>
                        </li>
                        <li class="block-image customerexperience">
                            <h3>Improve Customer Experience</h3>
                            <p class="text-center">Understand and optimize the load performance of every element on your page for a better customer experience.</p>
                        </li>
                        <li class="block-image reli">
                            <h3>Comply with your SLA</h3>
                            <p class="text-center"> Showcase your SLA compliance to your potential customer to gain more leads. </p>
                        </li>
                    </ul>
                </div>

                <%- include('cta-buttons') -%>

                
                <%- include('integration') -%> 
            </section>

        </div>
    </div>

    <%- include('footer') -%>

</body>


</html>
