<!DOCTYPE html>
<html lang="en" id="contact">

<head>
    <title>OneUptime | Docker Container Security</title>

    <meta name="description"
        content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
    <%- include('head') -%>
    <link rel="stylesheet" href="/css/shared-site.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/products.css">
    <script src="/js/amplitude.js"></script>
    <script type="module" async>
        var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
        if (IS_SAAS_SERVICE) {
            amplitude.getInstance().logEvent('PAGE VIEW: HOME > PRODUCT > DOCKER CONTAINER SECURITY');
        }
    </script>
</head>

<body>

    <%- include('nav') -%>

    <div class="globalContent">
        <div id="main-content">

            <section class="marquee nav-animation-element">

                <div id="bubble-overlay">
                    <div class="content">
                        
                        <header>
                            <h1 class="Header-title common-PageTitle header-font header-size black">Docker Container Security</h1>
                            <p style="margin-top:50px">Find and fix vulnerabilities in Docker containers and Kubernetes applications.</p>
                        </header>

                    </div>
                    
                </div>

            </section>

            <div class="gif-container">
                <img src="/img/animated-gif/docker-security.gif" class="imageshadow" alt="Docker Container Security" id="uptime-monitoring-gif" style="border-radius: 5px;width: 100%" />
            </div>

            <%- include('cta-buttons') -%>

            <section class="main basics" style="padding:0px">
                <div class="content">
                    <ul class="columns">
                        <li class="block-image fire">
                            <h3>Find Vulnerabilities.</h3>
                            <p class="text-center">Find security vulnerabilities instantly with your docker containers, images, K8s pods and more.</p>
                        </li>
                        <li class="block-image docker">
                            <h3>Base Image remediation</h3>
                            <p class="text-center">Scale the security process by quickly eliminating many of vulnerabilities by upgrading to the most secure base image or by rebuilding the image when outdated. </p>
                        </li>
                        <li class="block-image list">
                            <h3>In-line fixes</h3>
                            <p class="text-center">Get straight to the line in your Dockerfile that’s introducing vulnerabilities and easily trace dependencies to discover which of your tools is the causing issues.</p>
                        </li>
                        
                    </ul>

                    <ul class="columns">
                        <li class="block-image password">
                            <h3>Monitor dependencies</h3>
                            <p class="text-center">OneUptime can detect and monitor open source dependencies for popular languages as part of the container scan.</p>
                        </li>
                        <li class="block-image k8s">
                            <h3>Kubernetes application configuration</h3>
                            <p class="text-center">Detect newly deployed and updated workloads in Kubernetes clusters to ensure images are scanned for vulnerabilities. Uncover potentially unsafe settings in Kubernetes workloads that could expose your cluster to additional attacks and privilege escalations.</p>
                        </li>
                        <li class="block-image cctv">
                            <h3>Image monitoring</h3>
                            <p class="text-center">Monitor your images for newly discovered vulnerabilities and base image updates and receive alerts via Slack, Teams or email. </p>
                        </li>
                        
                    </ul>

                </div>

                <%- include('cta-buttons') -%>

                <%- include('customer-section') -%>
                <div class="sectionBorderTop">
                    <%- include('comparision-chart') -%>
                </div>

                
               <div class="split">
                    <div class="content margin-0-in-mobile">

                          <div class="left invisible-in-mobile">

                            <h3 class="header" style="margin-top:250px">More Docker <br/> Container Security <br/> Features.</h3>
                            <p class="common-BodyText" style="font-size:18px"><span class="highlight"
                                    style="font-size:18px">OneUptime Container is designed <br/> to work with a range of<br/>  container image operating systems<br/>  and package managers, Kubernetes <br/> platform, and container <br/> registries.
                                 </p>

                        </div>

                        <div class="right width-100-in-mobile margin-0-in-mobile">
                            <ul>
                                <li>
                                    <h3>Integrates with your private docker registry.</h3>
                                </li>

                                <li>
                                    <h3>Improve workflow with right alerts, to right people at the right time.</h3>
                                </li>
                                <li>
                                    <h3>Alerts via email, SMS and on call.</h3>
                                </li>
                                <li>
                                    <h3>Run scans when docker image is updated.</h3>
                                </li>
                                <li>
                                    <h3>View remediation instructions and paths. </h3>
                                </li>
                                <li>
                                    <h3>Auto remidiate by having OneUptime open a pull request to your repository automatically. </h3>
                                </li>
                                <li>
                                    <h3>Find security vulnerabilities on running docker containers or k8s pods.</h3>
                                </li>
                                <li>
                                    <h3>Run security scan on Kubenretes Cluster</h3>
                                </li>
                                <li>
                                    <h3>Support for other container runtimes (like LXD)</h3>
                                </li>
                                <li>
                                    <h3>Complete visibilty on security incidents.</h3>
                                </li>
                                <li>
                                    <h3>Integrate with fully extensible API.</h3>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <%- include('integration') -%> 
              
            </section>

        </div>
    </div>

    <%- include('footer') -%>

</body>


</html>
