<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>OneUptime | One Complete SRE and DevOps platform. </title>
    <meta name="description"
        content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
        <%- include('head') -%>
        <script type="module" async>
            
            if(posthog){
                posthog.capture('PAGE VIEW: HOME');
            }
        </script>
</head>

<body>
  <%- include('nav') -%>
    <div class="bg-white">
        <div class="mx-auto max-w-7xl py-24 px-6 lg:px-8">
          <div class="sm:align-center sm:flex sm:flex-col">
            <h1 class="text-5xl font-bold tracking-tight text-gray-900 sm:text-center">Request Demo</h1>
            <p class="mt-5 text-xl text-gray-500 sm:text-center">Our team is happy to give you a personalized demo. Pick any time slot that works for you.</p>
           
          </div>
         


          <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/simon-larsen/demo" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->


        </div>
      </div>

      <%- include('logo-roll') -%>
     
      <%- include('features-table') -%>
      <%- include('cta') -%>
  <%- include('footer') -%>
</body>
</html>
