<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>OneUptime for Enterprise. </title>
    <meta name="description"
        content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
        <%- include('head') -%>

</head>

<body>
  <%- include('nav') -%>

  <div class="relative isolate overflow-hidden bg-white">
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg>
    <div class="mx-auto max-w-7xl px-6 pt-10 pb-24 sm:pb-32 lg:flex lg:py-40 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
        <div class="mt-24 sm:mt-32 lg:mt-16">
          <div class="inline-flex space-x-6">
            <span class="rounded-full bg-indigo-600/10 px-3 py-1 text-sm font-semibold leading-6 text-indigo-600 ring-1 ring-inset ring-indigo-600/10">OneUptime for Enterprise</span>
          </div>
        </div>
        <h1 class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Secure, reliable, extensible, and scalable.</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">Downtime is critical to any business. We at OneUptime help you reduce it, increase revenue, and improve transparency with your customers.</p>
        <div class="mt-10 flex items-center gap-x-6">
          <a href="/enterprise/demo" class="rounded-md bg-indigo-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 hover:text-white">Request Demo</a>
          <a href="/accounts/regiser" class="text-base font-semibold leading-7 text-gray-900">Sign up for free <span aria-hidden="true">→</span></a>
        </div>
      </div>
      <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mt-0 lg:mr-0 lg:max-w-none lg:flex-none xl:ml-32">
        <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
          <div class="-m-2 rounded-xl p-2 lg:-m-4 lg:rounded-2xl lg:p-4">
            <!-- <img src="https://tailwindui.com/img/component-images/project-app-screenshot.png" alt="App screenshot" width="2432" height="1442" class="w-[76rem] rounded-md shadow-2xl ring-1 ring-gray-900/10"> -->

            <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
              <div class="p-6">
                <h2 class="text-lg font-medium leading-6 text-gray-900">Exclusive for Enterprise</h2>
                <p class="mt-4 text-sm text-gray-500">Enterprise grade offering. The best of us for your team.</p>
                <a href="/enterprise/demo" class="mt-8 block w-full hover:text-white rounded-md border border-gray-800 bg-gray-800 py-2 text-center text-sm font-semibold text-white hover:bg-gray-900">Request Demo</a>
              </div>
              <div class="px-6 pt-6 pb-8">
                <h3 class="text-sm font-medium text-gray-900">What's included</h3>
                <ul role="list" class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Everything we offer, unlimited.</span>
                  </li>

                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Single Sign On (SSO).</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Custom features built for you.</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Dedicated Engineer who works with your team.</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">1 hour priority phone support</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Host anywhere. Custom data residency</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Dedicated Slack / Teams Support Channel</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Custom Data Retention. Export data anywhere.</span>
                  </li>
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Annual Invoicing. Multi year contracts.</span>
                  </li>
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Reliability Guaranteed. 99.995% SLA</span>
                  </li>
                  <li class="flex space-x-3">
                    <!-- Heroicon name: mini/check -->
                    <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">SOC 2/3, ISO, PCI compliant. </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('logo-roll') -%>
      <div class="relative bg-white py-24 sm:py-32 lg:py-40">
        <div class="mx-auto max-w-md px-6 text-center sm:max-w-3xl lg:max-w-7xl lg:px-8">
          <h2 class="text-lg font-semibold text-indigo-600">Why enterprise?</h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Here is everything that's included, exclusive to our enterprise customers.</p>
          <p class="mx-auto mt-5 max-w-prose text-xl text-gray-500">OneUptime is the only digital operations management platform that is purpose-built to support enterprise-grade demands for security, availability, and scale and this is why thousands of our customers trust us every day.</p>
          <div class="mt-20">
            <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3">
              <div class="pt-6">
                <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span class="inline-flex items-center justify-center rounded-xl bg-indigo-500 p-3 shadow-lg">
                        <!-- Heroicon name: outline/cloud-arrow-up -->
                        <svg class="h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                        </svg>                        
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900">Reliability Guaranteed.</h3>
                    <p class="mt-5 text-base leading-7 text-gray-600">Hosted on a distributed high avalability infrastructure across continents so your systems are always being monitored and your team is always alerted.</p>
                  </div>
                </div>
              </div>
      
              <div class="pt-6">
                <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span class="inline-flex items-center justify-center rounded-xl bg-indigo-500 p-3 shadow-lg">
                        <!-- Heroicon name: outline/lock-closed -->
                        <svg class="h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z" />
                        </svg>
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900">Integrations</h3>
                    <p class="mt-5 text-base leading-7 text-gray-600">Choose from 5000+ integrates to integrate with. If we don't work with any of your existing solutions - we will build a custom integration for you.</p>
                  </div>
                </div>
              </div>
      
              <div class="pt-6">
                <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span class="inline-flex items-center justify-center rounded-xl bg-indigo-500 p-3 shadow-lg">
                        <!-- Heroicon name: outline/arrow-path -->
                        <svg class="h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z" />
                        </svg>
                      
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900">Workflows</h3>
                    <p class="mt-5 text-base leading-7 text-gray-600">Build complex workflows without code. Automate alerts, have one control plane for all of your resources and showcase reliability to different stakeholders</p>
                  </div>
                </div>
              </div>
      
              <div class="pt-6">
                <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span class="inline-flex items-center justify-center rounded-xl bg-indigo-500 p-3 shadow-lg">
                        <!-- Heroicon name: outline/shield-check -->
                        <svg class="h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                        </svg>

                        
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900">Dedicated Engineer</h3>
                    <p class="mt-5 text-base leading-7 text-gray-600">If you need a feature we're missing, we will build it for you. If you need an integration we're missing, we will build it for you.</p>
                  </div>
                </div>
              </div>
      
              <div class="pt-6">
                <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span class="inline-flex items-center justify-center rounded-xl bg-indigo-500 p-3 shadow-lg">
                        <!-- Heroicon name: outline/cog -->
                        <svg class="h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                        </svg>

                        
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900">Secure and Compliant.</h3>
                    <p class="mt-5 text-base leading-7 text-gray-600">We are SOC2, SOC3, HIPAA, ISO, GDPR, and PCI compliant. We take security very seriously.</p>
                  </div>
                </div>
              </div>
      
              <div class="pt-6">
                <div class="flow-root rounded-lg bg-gray-50 px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span class="inline-flex items-center justify-center rounded-xl bg-indigo-500 p-3 shadow-lg">
                        <!-- Heroicon name: outline/server -->
                        <svg class="h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                        </svg>
                        
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg font-semibold leading-8 tracking-tight text-gray-900">Custom Data Residency</h3>
                    <p class="mt-5 text-base leading-7 text-gray-600">Need your data to be in a specific location or specific cloud or host it on-premise. We can do it for you.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="bg-white">
        <div class="mx-auto max-w-7xl py-24 px-6 sm:py-32 lg:px-8 lg:py-40">
          <div class="mx-auto max-w-3xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Security and Compliance.</h2>
            <p class="mx-auto mt-4 max-w-xl text-lg leading-8 text-gray-600">We take security seriously here at OneUptime, and we are proud to exceed the industry standard when it comes to protecting your data.</p>
          </div>
          <dl class="mt-20 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8">
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">SOC 2</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">SOC 2 ensures your service providers securely manage your data to protect the interests of your organization.</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">SOC 3</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">SOC 3 report outlines information related to controls for security, availability, processing integrity, confidentiality or privacy.</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">ISO/IEC 27001</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">ISO 27001 includes all legal, physical and technical controls involved in information risk management processes.</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">ISO/IEC 27017</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">ISO/IEC 27017 security on aspects of cloud computing, recommending cloud-specific information security controls.</dd>
            </div>
            


            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">PCI DSS</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">PCI DSS is a standard for organizations that handle branded credit cards from the major card schemes. </dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">ISO/IEC 27018</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">ISO/IEC 27018 is a code of practice that focuses on the protection of personal data in the cloud.</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">HIPAA</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">HIPAA is United States legislation that provides data privacy and security provisions for safeguarding medical information.</dd>
            </div>
      
            <div class="relative">
              <dt>
                <!-- Heroicon name: outline/check -->
                <svg class="absolute mt-1 h-6 w-6 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <p class="ml-10 text-lg font-semibold leading-8 text-gray-900">GDPR</p>
              </dt>
              <dd class="mt-2 ml-10 text-base leading-7 text-gray-600">The GDPR is a law on data protection and privacy in the European Union and the European Economic Area.</dd>
            </div>
      
          </dl>
        </div>
      </div>

   
      <%- include('testimonials') -%>
      <div class="mt-24">

        <%- include('cta') -%>
      </div>
      
      <%- include('footer') -%>
  

</body>

</html>