<!DOCTYPE html>
<html lang="en" id="home">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>OneUptime | One Complete SRE and DevOps platform. </title>
    <meta name="description"
        content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
        <%- include('head') -%>
        <link rel="stylesheet" href="/css/crm.css">

        <script src="/js/crm.js" type="text/javascript" async></script>
        <link rel="stylesheet" href="/css/home.css">
        <script defer src="/js/home.js"></script>
        <script src="/js/amplitude.js"></script>
        <script type="module" async>
            var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
            if (IS_SAAS_SERVICE) {
                amplitude.getInstance().logEvent('PAGE VIEW: HOME');
            }
        </script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"
            type="text/javascript"></script>
</head>

<body>
    <%- include('nav') -%>

        <div class="globalContent">
            <main>
                <header>
                    <section id="intro">
                        <div class="container-lg" style="display: flex; justify-content: center;">

                            <div>

                                <%- include("stars") %>

                                    <h1 class="black main-page-title" style="text-align:center; margin-top: 30px">
                                        One Complete SRE <br />and DevOps
                                        platform.
                                    </h1>


                                    <div>
                                        <div style="display:flex; justify-content: space-between">
                                            <div class="checkbox-feature ">
                                                <div><img height="22" src="/img/check-mark-button.svg" /> </div>
                                                <div class="checkbox-text">Uptime Monitoring</div>
                                            </div>
                                            <div class="checkbox-feature">
                                                <div><img height="22" src="/img/check-mark-button.svg" /></div>
                                                <div class="checkbox-text">Status Page</div>
                                            </div>

                                            <div class="checkbox-feature mobile-collapse">
                                                <div><img height="22" src="/img/check-mark-button.svg" /></div>
                                                <div class="checkbox-text">Tests</div>
                                            </div class="checkbox-feature">
                                            <div class="checkbox-feature mobile-collapse">
                                                <div><img height="22" src="/img/check-mark-button.svg" /> </div>
                                                <div class="checkbox-text">Security</div>
                                            </div>
                                        </div>
                                        <div style="display:flex; justify-content: space-between; margin-top:10px">
                                            <div class="checkbox-feature">
                                                <div><img height="22" src="/img/check-mark-button.svg" /></div>
                                                <div class="checkbox-text">Logs Management</div>
                                            </div>
                                            <div class="checkbox-feature">
                                                <div><img height="22" src="/img/check-mark-button.svg" /> </div>
                                                <div class="checkbox-text">Incident Management</div>
                                            </div>
                                            <div class="checkbox-feature mobile-collapse">
                                                <div><img height="22" src="/img/check-mark-button.svg" /> </div>
                                                <div class="checkbox-text">Performance Monitoring</div>
                                            </div>

                                            <div class="checkbox-feature mobile-collapse">
                                                <div><img height="22" src="/img/check-mark-button.svg" /></div>
                                                <div class="checkbox-text">Error Tracking</div>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="common-BodyText"
                                        style="text-align:center;max-width:100%; margin-top:50px">
                                        OneUptime monitors your website, dashboards, API's, and more and alerts your team
                                        when
                                        downtime happens. We also give you a Status Page which keeps your customers
                                        looped in
                                        and improves transparency.
                                    </p>

                                    <ul class="cta-button-style">
                                        <li class="flex-center">
                                            <a href="#" onclick="registerUrl()" class="common-Button"
                                                id="create-account-top_0" data-analytics-action="create_account"
                                                data-analytics-source="header_cta">
                                                Try Free for 14 days
                                            </a>
                                        </li>
                                        <li class="flex-center">
                                            <a href="/enterprise/demo" class="common-Button"
                                                data-analytics-action="contact_sales"
                                                data-analytics-source="header_cta">
                                                Request Demo
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </section>
                </header>
                <%- include('customer-section') -%>
                
                <%- include('feature-table') -%>
                   

                        <div class="sectionBorderTop">
                            <%- include('customer-section') -%>
                            
                        </div>

                        <div class="sectionBorderTop">
                            <%- include('comparision-chart') -%>
                            
                        </div>

                        <section class="feature-table-container sectionBorderTop" style="margin-bottom:0px">
                            <div class="feature-table-description">

                                <h2 class="title-link h2 margin-top-30">Uptime Monitoring</h2>

                                <p></p>
                                <p>OneUptime's monitoring lets you know exactly what is wrong with your service, at the
                                    right time,
                                    saving you critical minutes during downtime.</p>
                                <p></p>
                            </div>

                            <div style="display:flex; justify-content:center; margin-bottom:30px;">
                                <img src="/img/animated-gif/uptime-monitoring.gif" width="900" class="imageshadow"
                                    alt="Uptime Monitoring" id="uptime-monitoring-gif" style="border-radius: 5px;" />
                            </div>

                            <section class="main basics">
                                <div class="content">
                                    <ul class="columns">
                                        <li class="block-image reliability">
                                            <h3>Monitor Anything.</h3>
                                            <p class="text-center">Monitor uptime and performance of your dashboards,
                                                API's,
                                                servers, applications, and more.</p>
                                        </li>
                                        <li class="block-image moni">
                                            <h3>Detailed Metrics</h3>
                                            <p class="text-center">All teams get the same visibility for technical and
                                                business
                                                response orchestration, enabling better collaboration and rapid
                                                resolution. </p>
                                        </li>
                                        <li class="block-image time">
                                            <h3>Every second check.</h3>
                                            <p class="text-center">OneUptime checks the status of the endpoint every second
                                                to make sure
                                                you get alerted as soon as any of your resources go down.</p>
                                        </li>

                                    </ul>
                                </div>


                                <div>
                                    <p></p>
                                    <p> <a class="common-Link--arrow black " href="/product/uptime-monitoring"> <span
                                                class="">Learn
                                                more about monitoring here.</span> </a></p>
                                    <p></p>
                                </div>

                                <%- include('cta-buttons') -%>
                            </section>

                        </section>

                        <section class="feature-table-container sectionBorderTop" style="margin-bottom:0px">
                            <div class="feature-table-description">

                                <h2 class="title-link h2 margin-top-30">Public and Private Status Pages</h2>
                                <p></p>
                                <p>Status Page helps you be more transparent with your customers and showcase
                                    reliability. Easily
                                    communicate real-time status to your customers, gain trust and increase revenue.</p>
                                <p></p>
                            </div>

                            <div style="display:flex; justify-content:center; margin-bottom:30px;">
                                <img src="/img/animated-gif/status-page.gif" width="900" class="imageshadow"
                                    alt="Status Page" id="uptime-monitoring-gif" style="border-radius: 5px;" />
                            </div>
                            <section class="main basics">
                                <div class="content">
                                    <ul class="columns">
                                        <li class="block-image trend">
                                            <h3>Realtime Status</h3>
                                            <p class="text-center">Show realtime status of your product or service -
                                                home page,
                                                websites, API, dashboards or more.</p>
                                        </li>
                                        <li class="block-image cost">
                                            <h3>Cut Support Costs</h3>
                                            <p class="text-center">Communicate any incidents through a status page.
                                                This saves your customers from creating a flood of support tickets. </p>
                                        </li>
                                        <li class="block-image reli">
                                            <h3>Showcase Reliability</h3>
                                            <p class="text-center">Showcase the reliability of your platform and
                                                compliance with
                                                your SLA
                                                and build trust with your customers.</p>
                                        </li>

                                    </ul>

                                </div>
                            </section>

                            <div>
                                <p></p>
                                <p> <a class="common-Link--arrow black " href="/product/status-page"> <span
                                            class="">Learn more
                                            about status page here.</span> </a></p>
                                <p></p>
                            </div>
                            <%- include('cta-buttons') -%>
                        </section>

                        <section class="feature-table-container sectionBorderTop" style="margin-bottom:0px">
                            <div class="feature-table-description">

                                <h2 class="title-link h2 margin-top-30">On-Call Management</h2>
                                <p></p>
                                <p><i>Downtime happens.</i> On-Call Management lets you alert the right team at the
                                    right time
                                    saving you critical time during downtime.</p>
                                <p></p>
                            </div>

                            <div style="display:flex; justify-content:center; margin-bottom:30px;margin-top:30px;">
                                <img src="/img/animated-gif/call-schedules-intro.gif" width="900" class="imageshadow"
                                    alt="Incident Management" id="uptime-monitoring-gif" style="border-radius: 5px;" />
                            </div>

                            <section class="main basics">
                                <div class="content">

                                    <ul class="columns">
                                        <li class="block-image rotation">
                                            <h3>Duty Rotations</h3>
                                            <p class="text-center"> Have a subset of your team "on-duty", give others a
                                                break and
                                                rotate them back to "on-duty" however you like.</p>
                                        </li>
                                        <li class="block-image global">
                                            <h3>Have Global Teams</h3>
                                            <p class="text-center">Timezone based alerts: Alert your team in India for
                                                example when
                                                there's a day there, and alert your team in the US when you have a day
                                                here.</p>
                                        </li>
                                        <li class="block-image sms">
                                            <h3>Any Alert Channel</h3>
                                            <p class="text-center">Alert your team by call, SMS, Email, Push
                                                Notifications and more.
                                            </p>
                                        </li>

                                    </ul>

                                </div>
                            </section>

                            <div>
                                <p></p>
                                <p> <a class="common-Link--arrow black " href="/product/oncall-management"> <span
                                            class="">Learn
                                            more about on-call management here.</span> </a></p>
                                <p></p>
                            </div>
                            <%- include('cta-buttons') -%>
                        </section>

                        <%- include("testimonials", { title: "Software teams around the world love OneUptime!" ,
                            description: "Software development teams around the world have switched to OneUptime to fundamentally improve their SRE workflow to build better and more reliable software."
                            , quotes: [ {
                            quote: "Having a public status page built accountability in our team towards our customers ‘We were responsible for our software reliability.’"
                            , by: "Tony Yao, Autonomic" }, {
                            quote: "We are all collaborating on any ops issues, it increases transparency for our team."
                            , by: "Laurent Canis, BNC National" }, {
                            quote: "No more replying to support emails from our customers. We just point them to our status page."
                            , by: "Ross Mcduff, Lightspeed" }, {
                            quote: "Customer communication looks more effective and professional." ,
                            by: "Anton S, Loblaw" }, {
                            quote: "We can see exactly what the state of the software and our service is. Less confusion and we're much more efficient."
                            , by: "Trevos Crosse, PNI Digital" } ] }) %>

                            <%- include('integration') -%>
            </main>

        </div>

        <div id="cookies-notification">
            <%- include('cookie-consent') -%>
        </div>
        <div class="sectionBorderTop" style="padding-top:50px">
            <%- include('footer') -%>
        </div>
        <script>
            $(document).ready(function () {
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
                let acceptCookies = getCookie("acceptCookies");
                const isLoggedIn = getCookie('data') || getCookie('admin-data');

                if (isLoggedIn) {
                    const accountsUrl = getAccountsUrl();
                    window.location.replace(accountsUrl);
                }

                if (acceptCookies != "") {
                    $('#cookies-notification').css({
                        display: 'none'
                    });
                } else {
                    $('#cookies-notification').css({
                        display: 'block'
                    });
                }
            })

            function setCookie(cookieName, cookieValue, expiringDate) {
                let date = new Date();
                date.setTime(date.getTime() + (expiringDate * 24 * 60 * 60 * 1000));
                let expires = "expires=" + date.toUTCString();
                document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
                document.getElementById("cookies-notification").style.display = "none";
            }

            function getCookie(cookieName) {
                let name = cookieName + "=";
                let ca = document.cookie.split(';');
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            function getAccountsUrl() {
                let accountsUrl = window.location.origin + '/accounts';
                if (
                    window &&
                    window.location &&
                    window.location.host &&
                    (window.location.host.includes('localhost:') ||
                        window.location.host.includes('0.0.0.0:') ||
                        window.location.host.includes('127.0.0.1:'))
                ) {
                    accountsUrl = window.location.protocol + '//localhost:3003/accounts';
                }
                return accountsUrl;
            }
        </script>


</body>

</html>