<!DOCTYPE html>
<html lang="en" id="contact">

<head>
    <meta charset="utf-8">
    <title>OneUptime | Logs Management</title>

    <meta name="description"
        content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
    <%- include('head') -%>
    <link rel="stylesheet" href="/css/shared-site.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/products.css">
    <script src="/js/amplitude.js"></script>
    <script type="module" async>
        var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
        if (IS_SAAS_SERVICE) {
            amplitude.getInstance().logEvent('PAGE VIEW: HOME > PRODUCT > LOGS MANAGEMENT');
        }
    </script>
</head>

<body>

    <%- include('nav') -%>

    <div class="globalContent">
        <div id="main-content">

            <section class="marquee nav-animation-element">

                <div id="bubble-overlay">
                    <div class="content">

                        <header>
                            <h1 class="Header-title common-PageTitle header-font header-size black">Logs Management</h1>
                            <p style="margin-top:50px"><span class="highlight">Resolve performance issues faster with traces and logs together.</span> View key resources and metrics, and monitor app performance, system behavior, and suspicious activity across the stack.</p>
                        </header>

                    </div>

                </div>

            </section>

            <!-- <div style="display:flex; justify-content:center; margin-bottom:30px;margin-top:30px;">
                <img src="/img/animated-gif/uptime-monitoring.gif" width="900" class="imageshadow"
                    alt="Uptime Monitoring" id="uptime-monitoring-gif" style="border-radius: 5px;" />
            </div> -->

            <%- include('cta-buttons') -%>
            
           

            <section class="main basics" style="padding:0px">
                <div class="content">
                    <ul class="columns">
                        <li class="block-image cctv">
                            <h3>Proactive Monitoring</h3>
                            <p class="text-center">Eliminate issues before they affect users or cause service interruptions with a continuous and proactive view of performance across applications, services and infrastructure down to the request level.</p>
                        </li>
                        <li class="block-image dashboard">
                            <h3>Interactive dashboards</h3>
                            <p class="text-center">Easily build dashboards to monitor application health, behavior, and trends, or use one of our pre-built dashboards to monitor performance indicators (KPIs) and statistics. </p>
                        </li>
                        <li class="block-image teams">
                            <h3>Quick, collaborative dashboard sharing</h3>
                            <p class="text-center">Share one or more dashboards with multiple team members to get everyone on the same page. </p>
                        </li>
                    </ul>

                    <ul class="columns">
                        <li class="block-image list">
                            <h3>Live tail of logs</h3>
                            <p class="text-center">Think real-time tail -f across all your log files from all your distributed systems. Pattern-based filtering and color coding help you to focus on what matters to you.</p>
                        </li>
                        <li class="block-image risk">
                            <h3>Anomaly detection</h3>
                            <p class="text-center">What if something unknown and unexpected shows up in your log data – something you would never search for and that triggers no alert?</p>
                        </li>
                        <li class="block-image chat">
                            <h3>Alerts</h3>
                            <p class="text-center">Create alerts based on search patterns, thresholds for specific log metrics, or other conditions.</p>
                        </li>
                    </ul>
                </div>

                <%- include('cta-buttons') -%>

                <%- include('customer-section') -%>
                <div class="sectionBorderTop">
                    <%- include('comparision-chart') -%>
                </div>

               <div class="split">
                    <div class="content margin-0-in-mobile">

                          <div class="left invisible-in-mobile">

                            <h3 class="header" style="margin-top:250px">More Log <br/> Management <br/> Features </h3>
                            <p class="common-BodyText" style="font-size:18px"><span
                                    style="font-size:18px">Analyze and visualize your data <br/> to answer key questions, <br/> spot trends, track SLA <br/> compliance, and deliver <br/>spectacular reports.
                            </p>
                        </div>

                        <div class="right width-100-in-mobile margin-0-in-mobile">
                            <ul>
                                <li>
                                    <h3>Live tail of logs from any application / stack / platform.</h3>
                                </li>

                                <li>
                                    <h3>Improve workflow with right alerts, to right people at the right time.</h3>
                                </li>
                                <li>
                                    <h3>Alerts via email, SMS and call.</h3>
                                </li>
                                <li>
                                    <h3>Monitor logs from any framework / stack / container / cluster or more. </h3>
                                </li>
                                <li>
                                    <h3>DevOps integrations - GitHub / Gitlab / Jira and more. </h3>
                                </li>
                                <li>
                                    <h3>Export logs to any format.</h3>
                                </li>
                                <li>
                                    <h3>Manage multiple severity of logs.</h3>
                                </li>
                                <li>
                                    <h3>Manage logs of any piece of software in your organization on one platform</h3>
                                </li>
                                <li>
                                    <h3>Detect anomolities, investigate and fix them.</h3>
                                </li>
                                <li>
                                    <h3>Integrate with fully extensible API.</h3>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <%- include('integration') -%>

            </section>

        </div>
    </div>

    <%- include('footer') -%>

</body>


</html>