<div class="stars-panel">
    <div class="mobile-collapse-block">
        <div style="display: flex;
    justify-content: center;">
            <img width="100" src="/img/stars.svg" alt="star rating">
        </div>
        <div style="margin-top: 8px;
    color: black;">
            <div>
                <% if( typeof(description1) =="undefined" || typeof(link1) =="undefined") { %>
                <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="https://www.capterra.com/p/176513/OneUptime/"><i>"the best SRE
                            product out there"</i></a></span>
                <% } else{ %>
                    <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="<%- link1 %>"><i> <%- description1 %></i></a></span>
                <%} %>
            </div>
            <div style="text-align: center;">
                <% if( typeof(name1) =="undefined" || typeof(link1) =="undefined") { %>
                <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="https://www.capterra.com/p/176513/OneUptime/"><i>-
                            Capterra</i></a></span>
                <% } else{ %>
                    <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="<%- link1 %>"><i> <%- name1 %></i></a></span>
                <%} %>
            </div>
        </div>
    </div>

    <div class="mobile-collapse-block">
        <div style="display: flex;
    justify-content: center;">
            <img width="100" src="/img/stars.svg" alt="star rating">
        </div>
        <div style="margin-top: 8px;
    color: black;">
            <div>
                <% if( typeof(description2) =="undefined" || typeof(link2) =="undefined") { %>
                <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="https://www.g2.com/products/oneuptime/reviews"><i>"one product to
                            rule
                            SRE"</i></a></span>
                <% } else{ %>
                    <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="<%- link2 %>"><i><%- description2 %></i></a></span>
                <%} %>
            </div>
            <div style="text-align: center;">
                <% if( typeof(name2) =="undefined" || typeof(link2) =="undefined") { %>
                <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="https://www.g2.com/products/oneuptime/reviews"><i>-
                            G2 Crowd</i></a></span>
                <% } else{ %>
                    <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="<%- link2 %>"><i> <%- name2 %></i></a></span>
                <%} %>
            </div>
        </div>
    </div>

    <div>
        <div style="display: flex;
    justify-content: center;">
            <img width="100" src="/img/stars.svg" alt="star rating">
        </div>
        <div style="margin-top: 8px;
    color: black;">
            <div>
                <% if( typeof(description3) =="undefined" || typeof(link3) =="undefined") { %>
                <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="https://alternativeto.net/software/oneuptime/about"><i>"best status page
                            product on the internet"</i></a></span>
                <% } else{ %>
                    <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="<%- link3 %>"><i> <%- description3 %></i></a></span>
                <%} %>
            </div>
            <div style="text-align: center;">
                <% if( typeof(name3) =="undefined" || typeof(link3) =="undefined") { %>
                <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="https://alternativeto.net/software/oneuptime/about"><i>-
                            AlternativeTo</i></a></span>
                <% } else{ %>
                    <span style="font-size: 14px; color: #8b8b8b"><a target="blank"
                        href="<%- link3 %>"><i> <%- name3 %></i></a></span>
                <%} %>
            </div>
        </div>
    </div>
</div>