<!DOCTYPE html>
<html lang="en" id="contact">

<head>
  <meta charset="utf-8">
  <style>
    .wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      align-items: center;
      height: 100vh;
      background: #EEEEEE;
    }

    .card {
      font-family: 'Source Sans Pro', sans-serif;
      padding: 5em;
      background: #EEEEEE;
      border: 1px solid #CCCCCC;
      text-align: center;
      width: 50%;
      background-color: #fff;
      border-radius: 4px;
      border: none;
      box-shadow: 0 7px 14px 0 rgb(50 50 93 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
    }

    .card_p {
      padding: 15px;
      margin: 0;
      font-size: 3.1em;
      font-weight: 500;
      color: #000;
    }

    .monitor_section_wrapper {
      padding: 2px;
      text-align: center;
      width: 100%;
    }

    .card_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    .monitors {
      font-size: 18px;
      color: #000;
      margin: 10px 0px;
      font-family: 'Source Sans Pro', sans-serif;
    }

    .card_btn {
      margin-top: 20px;
      white-space: nowrap;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 14px;
      box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
      background: #000;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .025em;
      color: #fff;
      text-decoration: none;
      border: none;
      transition: all .15s ease;
    }

    .card_btn:hover {
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    }

    .monitor_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      flex-wrap: wrap;
    }
  </style>
  <title>Unsubscribe</title>

  <meta name="description"
    content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
  <%- include('head') -%>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap">
    <script src="/js/amplitude.js"></script>
    <script type="module" async>
      var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
      if (IS_SAAS_SERVICE) {
        amplitude.getInstance().logEvent('PAGE VIEW: HOME > SUPPORT');
      }
    </script>
</head>

<body>
  <div class="wrapper">
    <div class="card">
      <p class="card_p">
        Select monitors you want to unsubscribe from:
      </p>
      <div class="monitor_section_wrapper">
        <form id="monitorForm" action="/unsubscribe" method="POST"
          style="display:flex; flex-direction:column;align-items:center;justify-content: space-around;padding:10px">
          <input name="email[]" value="<%=subscriptions[0].contactEmail%>" hidden>
          <% for(var i=0; i < subscriptions.length; i++) { %>
            <% if(subscriptions[i].monitorId==defaultMonitor){%>
              <div class="monitor_wrapper">
                <div class="monitors">
                  <input type="checkbox" name="monitors[]" value=<%=subscriptions[i].monitorId%> checked>
                  <label for="default">
                    <%= subscriptions[i].monitorName%>
                  </label>
                </div>
              </div>


              <%}else{%>
                <div style="font-size: 18px;margin-top: 10px;">
                  <input type="checkbox" name="monitors[]" value=<%=subscriptions[i].monitorId%>>
                  <label>
                    <%= subscriptions[i].monitorName%>
                  </label>
                </div>
                <%}%>
                  <%}%>
                    <input type="submit" value="Unsubscribe" class="card_btn">

        </form>

      </div>
    </div>

  </div>
</body>

</html>