<!DOCTYPE html>
<html lang="en" id="contact">

<head>
    <title>OneUptime | App Security</title>

    <meta name="description"
        content="OneUptime monitors websites, API's, and servers and alerts your team if something goes wrong. It also keeps your customers updated about any downtime.">
    <%- include('head') -%>
    <link rel="stylesheet" href="/css/shared-site.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/products.css">
    <script src="/js/amplitude.js"></script>
    <script type="module" async>
        var IS_SAAS_SERVICE = !(window.location.href.indexOf('localhost') > -1 || window.location.href.indexOf('staging') > -1);
        if (IS_SAAS_SERVICE) {
            amplitude.getInstance().logEvent('PAGE VIEW: HOME > PRODUCT > APP SECURITY');
        }
    </script>
</head>

<body>

    <%- include('nav') -%>

    <div class="globalContent">
        <div id="main-content">

            <section class="marquee nav-animation-element">

                <div id="bubble-overlay">
                    <div class="content">

                        <header>
                            <h1 class="Header-title common-PageTitle header-font header-size black">App Security</h1>
                            <p style="margin-top:50px">Find and fix security vulnerabilities in your backend, web and mobile
                                apps.</p>
                        </header>

                    </div>

                </div>

            </section>

            <div class="gif-container">
                <img src="/img/animated-gif/app-security.gif" class="imageshadow"
                    alt="Uptime Monitoring" id="uptime-monitoring-gif" style="border-radius: 5px;width: 100%" />
            </div>

            <%- include('cta-buttons') -%>

            <section class="main basics" style="padding:0px">
                <div class="content">
                    <ul class="columns">
                        <li class="block-image fire">
                            <h3>Find Vulnerabilities.</h3>
                            <p class="text-center">Find security vulnerabilities instantly in your backend, mobile or
                                web apps.</p>
                        </li>
                        <li class="block-image securityshield">
                            <h3>Vulnerabilities remediation</h3>
                            <p class="text-center">Scale the security process by quickly eliminating many of
                                vulnerabilities by upgrading to the most secure dependencies. </p>
                        </li>
                        <li class="block-image list">
                            <h3>In-line fixes</h3>
                            <p class="text-center">Get straight to the line in your app that’s introducing
                                vulnerabilities and easily trace dependencies to discover which line of your code is the
                                causing issues.</p>
                        </li>
                    </ul>

                    <ul class="columns">
                        <li class="block-image password">
                            <h3>Monitor dependencies</h3>
                            <p class="text-center">OneUptime can detect and monitor open source dependencies for popular
                                languages which are part of your app.</p>
                        </li>
                        <li class="block-image git">
                            <h3>Native Git scanning</h3>
                            <p class="text-center">Scan pull requests before merging. Test your projects directly from
                                the repository and monitor them daily for new vulnerabilities.</p>
                        </li>
                        <li class="block-image production" style="margin-top:-20px">
                            <h3>Production environment</h3>
                            <p class="text-center">Test your running environment to verify there is no exposure to
                                existing vulnerabilities and monitor for newly disclosed vulnerabilities. </p>
                        </li>
                    </ul>
                </div>

                <%- include('cta-buttons') -%>

                <%- include('customer-section') -%>
                <div class="sectionBorderTop">
                    <%- include('comparision-chart') -%>
                </div>


               <div class="split">
                    <div class="content margin-0-in-mobile">

                          <div class="left invisible-in-mobile">

                            <h3 class="header" style="margin-top:250px">More App Security <br /> Features </h3>
                            <p class="common-BodyText" style="font-size:18px"><span class="highlight"
                                    style="font-size:18px">OneUptime App Security is designed <br /> to work with a range
                                    of<br /> of platforms, tools, <br/> package managers, and <br/> git repositories.
                            </p>
                        </div>

                        <div class="right width-100-in-mobile margin-0-in-mobile">
                            <ul>
                                <li>
                                    <h3>Integrates with any git repository.</h3>
                                </li>

                                <li>
                                    <h3>Improve workflow with right alerts, to right people at the right time.</h3>
                                </li>
                                <li>
                                    <h3>Alerts via email, SMS and on call.</h3>
                                </li>
                                <li>
                                    <h3>Run scans when a repository branch is updated.</h3>
                                </li>
                                <li>
                                    <h3>View remediation instructions and paths. </h3>
                                </li>
                                <li>
                                    <h3>Auto remidiate by having OneUptime open a pull request to your repository
                                        automatically. </h3>
                                </li>
                                <li>
                                    <h3>Find security vulnerabilities in your code.</h3>
                                </li>
                                <li>
                                    <h3>Run security scan on of your entire repository.</h3>
                                </li>
                                <li>
                                    <h3>Support for backend platforms, mobile platforms, and web frameworks.</h3>
                                </li>
                                <li>
                                    <h3>Complete visibilty on security incidents.</h3>
                                </li>
                                <li>
                                    <h3>Integrate with fully extensible API.</h3>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <%- include('integration') -%>

            </section>

        </div>
    </div>

    <%- include('footer') -%>

</body>


</html>